body{
    background:url("cinema.jpg");
}
div{
    float: left;
    margin: 10px;
    padding: 10px;
    border: 2px solid darkgreen;
    border-radius: 10px;
    background: white;
    opacity: 0.8;
}
h1{
    color:white;
}
h1, h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.json p{
    margin: 0 0 0 25px;
    padding: 0;
}
h2{
    margin-top: 0;
}
.red{
    color: red;
    font-weight: bold;
}
.green{
    color: green;
    font-weight: bold;
}
.json .bracket{
    margin: 0 0 0 37px;
}
.json .actor{
    margin: 0 0 0 50px;
}